$logo-color: #ff3b3f;
$color-dark: #161616;
$color-white: #efefef;
$color-charcol: #373737;
$color-neutral: #f4f4f4;
$color-watermelon: #ff3b3f;

$color-copy: rgba(0, 0, 0, 0.2);
$mask-color: rgba(0, 0, 0, 0.5);

$scroll-thumb-h-color: #999;
$scroll-thumb-color: rgba(170, 170, 170, 0.9);

$scroll-track-color: rgba(255, 255, 255, 0.1);
$scroll-track-h-color: rgba(238, 238, 238, 0.8);

$font-general: 'roboto', Tahoma, sans-serif;

$bg-img-0: url('https://c1.wallpaperflare.com/preview/835/250/537/office-desk-computer-light.jpg');
$bg-img-1: url('https://wallpaperbat.com/img/18344-programmers-and-coders-wallpaper-hd-by-pcbots-part-ii.png');
$bg-img-2: url('https://wallpaperbat.com/img/370271-programming-hd-wallpaper-and-background-image.png');

$shadow-22: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
$shadow-88: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;;