$logo-color: #ff3b3f;
$color-dark: #161616;
$color-white: #f4f4f4;

$color-copy: rgba(0, 0, 0, 0.2);
$mask-color: rgba(0, 0, 0, 0.5);

$scroll-thumb-h-color: #999;
$scroll-thumb-color: rgba(170, 170, 170, 0.9);

$scroll-track-color: rgba(255, 255, 255, 0.1);
$scroll-track-h-color: rgba(238, 238, 238, 0.8);

$font-general: 'roboto', Tahoma, sans-serif;

$bg-img-0: url('https://c1.wallpaperflare.com/preview/835/250/537/office-desk-computer-light.jpg');
$bg-img-1: url('https://wallpaperbat.com/img/18344-programmers-and-coders-wallpaper-hd-by-pcbots-part-ii.png');
$bg-img-2: url('https://wallpaperbat.com/img/370271-programming-hd-wallpaper-and-background-image.png');


